/*main section*/

.main-banner{
    background: url(../rasm/home-banner.png) no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
    padding-top: -24px;
    padding-left: -5px;
}


.main-section{
    padding-top: 100;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 200px;
}
.main-section > div{
    width: 50%;
    float: left;}
.main-section__image{
        text-align: center;
}
.mein-section__welcome{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;
}
.main-section__social-networks a{
    display: inline-block;
    color: #8fa1aa;
    font-size: 20px;
    margin-right: 16px;
    cursor: pointer;
    padding-right: 10px;
}
.main-section__introduction{
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color:#05364e;
}
.main-section__position{
    color: #05364e;
    font-weight: 300px;
    font-size: 24px;
    margin-bottom: 20px;
}


/*statistics*/

.statistics__item{
    display:inline-block;
    width: 150px;
    background-color: #f8faf8;
    text-align: center;
    margin-right: 20px;
    padding: 5px 10px;
    
}
.statistics__number{
    font-size: 27px;
    margin-bottom: 5px;
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


.statistics__followers{
    color: #797979;
    font-family: sans-serif;
}

/*Logo*/
.main-section__social-networks :hover{
    color: #1c44e4;
}


/*About-Me*/

.about-me{
    padding: 100px 0px;
}


.about-me >div{
    width: 50%;
    float: left;}



.about-me__discription{
    text-decoration: none;
    color: #797979;
    line-height:27px;
}

/*servic style*/
.services{
    padding-top: 100px;
}
.servic-card{
    display: inline-block;
    width: 30%;
    background-color: #f8faff;
    margin-right: 3%;
    text-align: center;
    padding: 60px 30px;
    box-sizing: border-box;

}
.servic-card__title{
    color: #05364d;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}  




.servic-card__discription{
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #797979;
}
.servic-card__link{
  color: #05364d;  
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    
    text-decoration: none;

}
.servic-card:hover{
    background-color: #1c44e4;
    color: #f8faff;
    transition: 0.5s;
}

.servic-card:hover .servic-card__title,.servic-card__link{
    color: #f8faff;
    transition: 0.5s;}


/*client section*/
.clients{
    padding-top: 100px;
    }

.client-item>div{
    width: 50%;
    float: left;
    box-sizing: border-box;
    }
.client-item__img img{
    width: 700px;
    height: 600px;
}
 .client-item__info{
    padding-left: 50px;
    padding-top: 50px;
 }
 .client-item__name{
    font-size: 20px;
    margin-bottom: 4px;

 }
 .client-item__position{
    font-size: 14px;
    font-weight: 300;
    color: #5b6d75;
 }
 .client-item__revyu{
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #5b6d75;
 }

 .client-item__rate i{
    color: yellow;
    margin-left: 15px;
 }
 .client-item__rate{
    padding-left: 30px;
 }

 .client-item__rate:hover{
    cursor: pointer;
 }

 /*Portifilyo*/

 .portifilyo{
    padding: 100px 0;
 }
 .portifilyo-filters{
    list-style: none;
    padding-left: 0px;
    margin-top: 50px;
 }

 .portifilyo-filters li{
    display:inline-block ;
    margin-right: 40px;
    font-size: 13px;
    font-weight: 400px;
    text-transform: uppercase;
 }

 .portifilyo-filters li:hover{
    color: #1c44e4;
    cursor: pointer;
 }
 .activ{
    color: #1c44e4;
 }

.portifilyo__items{
    margin-top: 50px;
    position: relative;

}

.portifilyo__item{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}


.portifilyo__item2{
    position: absolute;
    top: 0;
    right: 0;
}

.portifilyo__item3{
    position: absolute;
    top: 429px;
    right: 0;
}

.portifilyo__item img{
    width: 100%;
}

.portifilyo-item__overley{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(19,69,230,0.9);
    visibility: hidden;
}

.portifilyo-item__info{
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: #ffffff;
    visibility: hidden;
 
}

.portifilyo-item__info a{
    color: #ffffff;
    text-decoration: none;
   
}
.portifilyo__item:hover .portifilyo-item__overley{
  visibility: visible;
  top: 20px;
  left: 20px;
  z-index: 1;
   opacity: 0.2;
   transition: 1s;
}
.portifilyo__item:hover .portifilyo-item__info{
    visibility: visible;
    z-index: 1;
    bottom: 20px;
    transition: 1s;
}


/*blog section*/

.blog{
    padding-top: 100px;
}

.blog-items{
    margin-top: 50px;
}

.blog-item{
    display: inline-block;
    overflow: hidden;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;

}

.blog-item:hover{
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}

.blog-item:hover .blog-item__img img{
    transform: scale(1.1);
    transition: 0.5s;
    
}
.blog-item__img:hover img{
    overflow: hidden;
}

.blog-item__img{
    width: 100px;
    vertical-align: middle;
}

.blog-item__info{
    background-color: #f8faff;
    padding: 30px;
    color: #797979;
}

.blog-item__main-info{
    font-size: 14px;
    margin-right: 30px;
    font-weight: lighter;
}

.blog-item__info i{
     margin-right: 5px;
}

.blog-item__date{
    margin-left: 30px;
}
.blog-item__title{
    color: #05364d;
    font-weight: bold;
}

.blog-item__discrintion{
    font-weight: lighter;
    line-height: 27px;
    font-size: 15px;
}
.blog-item__learn-more{
    font-size: 20px;
    font-weight: 500;
    color: #05364d;
    cursor: pointer;
}

.blog-item__learn-more:hover{
    color: #ed239f;
}


/*sheriklar*/

.portners{
    padding-top: 100px;
}

.portner{
    display: inline-block;
    margin-left: 100px;
}

.portner:hover{
    cursor: pointer;
}